build*/
winbuild
win64build

#Binaries
/.vs
build/
build-int/

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

## kdevelop
*.kdev4

## qt-creator
CMakeLists.txt.user*
